<h1>ミニブログ一覧</h1>

<p><%= notice %></p>

<table class="table">

<% @miniblogs.each do |blog| %>
  <tr>
    <td><%= blog.content %></td>
    <td><%=link_to"ミニブログを編集する",edit_miniblog_path(blog.id)%></td>
    <td><%= link_to 'ミニブログを削除する', miniblog_path(blog.id), method: :delete,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>

<%= link_to '新しくミニブログを投稿する', new_miniblog_path %>
